In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('clean_data.csv')

In [3]:
df.dropna(axis=0, inplace=True)

In [4]:
df.head(1)

,selling_price,seller_type,km_driven,owner_type,fuel_type,transmission_type,mileage,engine,max_power,seats,Maker,Model,Min new price,Max new price,Age
1,550000.0,Individual,20000.0,First Owner,Petrol,Manual,18.9,1197.0,82.0,5.0,HYUNDAI,GRAND,711000.0,748000.0,5.0

In [5]:
df.isnull().sum()/len(df)*100

selling_price        0.0
seller_type          0.0
km_driven            0.0
owner_type           0.0
fuel_type            0.0
transmission_type    0.0
mileage              0.0
engine               0.0
max_power            0.0
seats                0.0
Maker                0.0
Model                0.0
Min new price        0.0
Max new price        0.0
Age                  0.0
dtype: float64

In [6]:
df.shape

(9187, 15)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9187 entries, 1 to 20024
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   selling_price      9187 non-null   float64
 1   seller_type        9187 non-null   object
 2   km_driven          9187 non-null   float64
 3   owner_type         9187 non-null   object
 4   fuel_type          9187 non-null   object
 5   transmission_type  9187 non-null   object
 6   mileage            9187 non-null   float64
 7   engine             9187 non-null   float64
 8   max_power          9187 non-null   float64
 9   seats              9187 non-null   float64
 10  Maker              9187 non-null   object
 11  Model              9187 non-null   object
 12  Min new price      9187 non-null   float64
 13  Max new price      9187 non-null   float64
 14  Age                9187 non-null   float64
dtypes: float64(9), object(6)
memory usage: 1.1+ MB

In [9]:
from sklearn.preprocessing import LabelEncoder
le =LabelEncoder()
df.seller_type = le.fit_transform(df.seller_type)
df.fuel_type = le.fit_transform(df.fuel_type)
df.transmission_type = le.fit_transform(df.transmission_type)
df.Maker = le.fit_transform(df.Maker)
df.Model = le.fit_transform(df.Model)
df.owner_type = le.fit_transform(df.owner_type)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9187 entries, 1 to 20024
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   selling_price      9187 non-null   float64
 1   seller_type        9187 non-null   int32
 2   km_driven          9187 non-null   float64
 3   owner_type         9187 non-null   int32
 4   fuel_type          9187 non-null   int32
 5   transmission_type  9187 non-null   int32
 6   mileage            9187 non-null   float64
 7   engine             9187 non-null   float64
 8   max_power          9187 non-null   float64
 9   seats              9187 non-null   float64
 10  Maker              9187 non-null   int32
 11  Model              9187 non-null   int32
 12  Min new price      9187 non-null   float64
 13  Max new price      9187 non-null   float64
 14  Age                9187 non-null   float64
dtypes: float64(9), int32(6)
memory usage: 933.1 KB

In [11]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
vif = pd.DataFrame()
vif["vif_values"] = [variance_inflation_factor(df.values , i ) for i in range (df.shape[1])]
vif['Variables'] = df.columns

In [12]:
vif

    vif_values          Variables
0     6.807471      selling_price
1     1.759282        seller_type
2     2.168231          km_driven
3     1.002546         owner_type
4     7.673295          fuel_type
5     6.523634  transmission_type
6    17.566707            mileage
7    71.146768             engine
8    39.612287          max_power
9    73.320803              seats
10    4.961817              Maker
11    4.782072              Model
12   10.793977      Min new price
13    9.530286      Max new price
14    7.225477                Age

In [16]:
import statsmodels.api as sm 
X = df.drop('selling_price',axis=1)
y = df['selling_price']

In [18]:
Xc = sm.add_constant(X)
model = sm.OLS(y,Xc).fit()

In [19]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:          selling_price   R-squared:                       0.701
Model:                            OLS   Adj. R-squared:                  0.701
Method:                 Least Squares   F-statistic:                     1538.
Date:                Tue, 08 Jun 2021   Prob (F-statistic):               0.00
Time:                        22:37:00   Log-Likelihood:            -1.3192e+05
No. Observations:                9187   AIC:                         2.639e+05
Df Residuals:                    9172   BIC:                         2.640e+05
Df Model:                          14
Covariance Type:            nonrobust
=====================================================================================
                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------
const              2.706e+05   9.25e+04      2.927      0.003    8.94e+04    4.52e+05
seller_type       -3.746e+04   8600.120     -4.356      0.000   -5.43e+04   -2.06e+04
km_driven            -0.5210      0.084     -6.194      0.000      -0.686      -0.356
owner_type          2.09e+05   1.87e+05      1.120      0.263   -1.57e+05    5.75e+05
fuel_type         -1.932e+04   7273.859     -2.656      0.008   -3.36e+04   -5062.711
transmission_type -9.522e+04   1.27e+04     -7.513      0.000    -1.2e+05   -7.04e+04
mileage            1253.6120   1943.219      0.645      0.519   -2555.530    5062.754
engine              150.8379     23.293      6.476      0.000     105.179     196.497
max_power          5921.7564    243.246     24.345      0.000    5444.940    6398.573
seats              1498.4878   8937.725      0.168      0.867    -1.6e+04     1.9e+04
Maker               -59.7096    692.689     -0.086      0.931   -1417.533    1298.114
Model               582.5104    166.545      3.498      0.000     256.045     908.976
Min new price         0.2393      0.007     36.440      0.000       0.226       0.252
Max new price        -0.0378      0.006     -6.466      0.000      -0.049      -0.026
Age               -8.744e+04   1649.841    -53.001      0.000   -9.07e+04   -8.42e+04
==============================================================================
Omnibus:                     7843.153   Durbin-Watson:                   2.025
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           930746.367
Skew:                           3.515   Prob(JB):                         0.00
Kurtosis:                      51.806   Cond. No.                     1.31e+08
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.31e+08. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [21]:
from sklearn.linear_model import LinearRegression
import mlxtend
from mlxtend.feature_selection import SequentialFeatureSelector as sfs
lin_reg = LinearRegression()

In [34]:
sfs_reg = sfs(lin_reg,k_features=5,forward=True,scoring='r2')

In [35]:
forward_model = sfs_reg.fit(Xc,y)

In [36]:
forward_model.k_feature_names_

('transmission_type', 'engine', 'max_power', 'Min new price', 'Age')