In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('processed_data.csv')

In [3]:
df_copy = df.copy()

In [4]:
df_copy['Min new price']=df_copy['Min new price'].fillna(df_copy.groupby(['Model','fuel_type'])['Min new price'].transform('median'))

In [5]:
df_copy['Max new price']=df_copy['Max new price'].fillna(df_copy.groupby(['Model','fuel_type'])['Max new price'].transform('median'))

In [6]:
round(df_copy.isnull().sum()/len(df_copy)*100 ,2)

Maker                 0.00
Model                 0.00
Min new price        42.16
Max new price        43.82
Age                   0.00
km_driven             0.00
seller_type           0.00
owner_type            0.00
fuel_type             0.00
transmission_type     0.00
mileage               0.00
engine                0.00
max_power             0.00
seats                 0.00
selling_price         0.00
dtype: float64

In [7]:
df_nan = df_copy[np.isnan(df_copy['Min new price'])]

In [8]:
df_nan['Model'].count()

8276

In [9]:
df_nan['Model'].nunique()

570

In [10]:
list_nan = df_nan['Model'].value_counts().head(200)

# Manual Filling on Nan value for Min and Max Value

In [11]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'ALTO STD')] = 299800
df_copy['Max new price'].loc[(df_copy['Model'] == 'ALTO STD')] = 299800

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [12]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'ALTO K10')] = 356000
df_copy['Max new price'].loc[(df_copy['Model'] == 'ALTO K10')] = 451000

In [13]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'TUV 300')] = 860000
df_copy['Max new price'].loc[(df_copy['Model'] == 'TUV 300')] = 1061000

In [14]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'INDIGO LX')] = 668818
df_copy['Max new price'].loc[(df_copy['Model'] == 'INDIGO LX')] = 710449

In [15]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'CAPTUR PLATINE')] = 1051000
df_copy['Max new price'].loc[(df_copy['Model'] == 'CAPTUR PLATINE')] = 1305000

In [16]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'MICRA XL')] = 743000
df_copy['Max new price'].loc[(df_copy['Model'] == 'MICRA XL')] = 743000

In [17]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'SWIFT VDI')] = 600000
df_copy['Max new price'].loc[(df_copy['Model'] == 'SWIFT VDI')] = 750000

In [18]:
df_copy['Min new price'].loc[((df_copy['Model'] == 'SWIFT DZIRE') & (df_copy['fuel_type'] == 'Diesel'))] = 598000
df_copy['Max new price'].loc[((df_copy['Model'] == 'SWIFT DZIRE') & (df_copy['fuel_type'] == 'Diesel'))] = 903000

In [19]:
df_copy['Min new price'].loc[((df_copy['Model'] == 'VITARA BREZZA') & (df_copy['transmission_type'] == 'Manual'))] = 750000
df_copy['Max new price'].loc[((df_copy['Model'] == 'VITARA BREZZA') & (df_copy['transmission_type'] == 'Manual'))] = 1003000

In [20]:
df_copy['Min new price'].loc[((df_copy['Model'] == 'VITARA BREZZA') & (df_copy['transmission_type'] == 'Automatic'))] = 1393000
df_copy['Max new price'].loc[((df_copy['Model'] == 'VITARA BREZZA') & (df_copy['transmission_type'] == 'Automatic'))] = 1413000

In [21]:
df_copy['Min new price'].loc[((df_copy['Model'] == 'GRAND I10') & (df_copy['fuel_type'] == 'Diesel'))] =  887000
df_copy['Max new price'].loc[((df_copy['Model'] == 'GRAND I10') & (df_copy['fuel_type'] == 'Diesel'))] = 918000

In [22]:
df_copy['Min new price'].loc[(df_copy['Model'] == '1 SERIES')] = 3804000
df_copy['Max new price'].loc[(df_copy['Model'] == '1 SERIES')] = 3807000

In [23]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'INNOVA 2.5')] = 1689824
df_copy['Max new price'].loc[(df_copy['Model'] == 'INNOVA 2.5')] = 2078690

In [24]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'ALTO LXI')] = 381000
df_copy['Max new price'].loc[(df_copy['Model'] == 'ALTO LXI')] = 381000

In [25]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'SANTRO XING')] = 379000
df_copy['Max new price'].loc[(df_copy['Model'] == 'SANTRO XING')] = 409000

In [26]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'COROLLA ALTIS') & (df_copy['transmission_type'] == 'Automatic')] = 1995000
df_copy['Max new price'].loc[(df_copy['Model'] == 'COROLLA ALTIS') & (df_copy['transmission_type'] == 'Automatic')] = 2290000

In [27]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'COROLLA ALTIS') & (df_copy['transmission_type'] == 'Manual')] = 1982000
df_copy['Max new price'].loc[(df_copy['Model'] == 'COROLLA ALTIS') & (df_copy['transmission_type'] == 'Manual')] = 2210000

In [28]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'XCENT 1.2') & (df_copy['transmission_type'] == 'Manual')] = 630000
df_copy['Max new price'].loc[(df_copy['Model'] == 'XCENT 1.2') & (df_copy['transmission_type'] == 'Manual')] = 875000

In [29]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'XCENT 1.2') & (df_copy['transmission_type'] == 'Automatic')] = 670000
df_copy['Max new price'].loc[(df_copy['Model'] == 'XCENT 1.2') & (df_copy['transmission_type'] == 'Automatic')] = 820000

In [30]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'BEAT DIESEL')] = 425000
df_copy['Max new price'].loc[(df_copy['Model'] == 'BEAT DIESEL')] = 490000

In [31]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'DUSTER 85PS')] = 973000
df_copy['Max new price'].loc[(df_copy['Model'] == 'DUSTER 85PS')] = 1417000

In [32]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'EON ERA')] = 388000
df_copy['Max new price'].loc[(df_copy['Model'] == 'EON ERA')] = 448000

In [33]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'DUSTER 110PS')] = 1214000
df_copy['Max new price'].loc[(df_copy['Model'] == 'DUSTER 110PS')] = 1450000

In [34]:
df_copy['Min new price'].loc[((df_copy['Model'] == 'I20 ACTIVE') & (df_copy['fuel_type'] == 'Diesel'))] = 913000
df_copy['Max new price'].loc[((df_copy['Model'] == 'I20 ACTIVE') & (df_copy['fuel_type'] == 'Diesel'))] = 1033000

In [35]:
df_copy['Min new price'].loc[((df_copy['Model'] == 'I20 ACTIVE') & (df_copy['fuel_type'] == 'Petrol'))] =  718000
df_copy['Max new price'].loc[((df_copy['Model'] == 'I20 ACTIVE') & (df_copy['fuel_type'] == 'Petrol'))] = 888000

In [36]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'RAPID 1.5')] = 980000
df_copy['Max new price'].loc[(df_copy['Model'] == 'RAPID 1.5')] = 1100000

In [37]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'VENTO 1.5')] = 1270000
df_copy['Max new price'].loc[(df_copy['Model'] == 'VENTO 1.5')] = 1410000

In [38]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'ZEN ESTILO')] = 420000
df_copy['Max new price'].loc[(df_copy['Model'] == 'ZEN ESTILO')] = 510000

In [39]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'CIAZ VDI')] = 900000
df_copy['Max new price'].loc[(df_copy['Model'] == 'CIAZ VDI')] = 900000

In [40]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'ERTIGA SHVS')] = 1038000
df_copy['Max new price'].loc[(df_copy['Model'] == 'ERTIGA SHVS')] = 1370000

In [41]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'POLO 1.5')] = 838000
df_copy['Max new price'].loc[(df_copy['Model'] == 'POLO 1.5')] = 1010000

In [42]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'RITZ VDI')] = 680000
df_copy['Max new price'].loc[(df_copy['Model'] == 'RITZ VDI')] = 680000

In [43]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'ETIOS LIVA')] = 785000
df_copy['Max new price'].loc[(df_copy['Model'] == 'ETIOS LIVA')] = 930000

In [44]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'VENTO DIESEL')] = 1238000
df_copy['Max new price'].loc[(df_copy['Model'] == 'VENTO DIESEL')] = 1420000

In [45]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'BRIO S')] = 600000
df_copy['Max new price'].loc[(df_copy['Model'] == 'BRIO S')] = 710000

In [46]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'POLO DIESEL')] = 885000
df_copy['Max new price'].loc[(df_copy['Model'] == 'POLO DIESEL')] = 1070000

In [47]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'SX4 S')] = 838000
df_copy['Max new price'].loc[(df_copy['Model'] == 'SX4 S')] = 1040000

In [48]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'CIAZ ZDI')] = 1088000
df_copy['Max new price'].loc[(df_copy['Model'] == 'CIAZ ZDI')] = 1088000

In [49]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'SPARK 1.0')] = 410000
df_copy['Max new price'].loc[(df_copy['Model'] == 'SPARK 1.0')] = 490000

In [50]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'ERTIGA ZDI')] = 1170000
df_copy['Max new price'].loc[(df_copy['Model'] == 'ERTIGA ZDI')] = 1170000

In [51]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'ERTIGA VDI')] = 1035000
df_copy['Max new price'].loc[(df_copy['Model'] == 'ERTIGA VDI')] = 1035000

In [52]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'XCENT 1.1')] = 640000
df_copy['Max new price'].loc[(df_copy['Model'] == 'XCENT 1.1')] = 820000

In [53]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'SWIFT LDI')] = 680000
df_copy['Max new price'].loc[(df_copy['Model'] == 'SWIFT LDI')] = 680000

In [54]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'EON MAGNA')] = 475000
df_copy['Max new price'].loc[(df_copy['Model'] == 'EON MAGNA')] = 580000

In [55]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'SAFARI STORME')] = 1100000
df_copy['Max new price'].loc[(df_copy['Model'] == 'SAFARI STORME')] = 1420000

In [56]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'A4 2.0')] = 4305000
df_copy['Max new price'].loc[(df_copy['Model'] == 'A4 2.0')] = 4700000

In [57]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'SWIFT ZDI')] = 820000
df_copy['Max new price'].loc[(df_copy['Model'] == 'SWIFT ZDI')] = 820000

In [58]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'TERRANO XL')] = 1236000
df_copy['Max new price'].loc[(df_copy['Model'] == 'TERRANO XL')] = 1390000

In [59]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'RAPID 1.6')] = 890000
df_copy['Max new price'].loc[(df_copy['Model'] == 'RAPID 1.6')] = 1300000

In [60]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'EON D')] = 375000
df_copy['Max new price'].loc[(df_copy['Model'] == 'EON D')] = 450000

In [61]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'ZEST QUADRAJET')] = 780000
df_copy['Max new price'].loc[(df_copy['Model'] == 'ZEST QUADRAJET')] = 860000

In [62]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'S-CROSS 2017-2020')] = 920000
df_copy['Max new price'].loc[(df_copy['Model'] == 'S-CROSS 2017-2020')] = 1230000

In [63]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'INDICA VISTA')] = 610000
df_copy['Max new price'].loc[(df_copy['Model'] == 'INDICA VISTA')] = 710000

In [64]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'ALTO LX')] = 360000
df_copy['Max new price'].loc[(df_copy['Model'] == 'ALTO LX')] = 360000

In [65]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'A STAR')] = 970000
df_copy['Max new price'].loc[(df_copy['Model'] == 'A STAR')] = 430000

In [66]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'BOLERO POWER')] = 859000
df_copy['Max new price'].loc[(df_copy['Model'] == 'BOLERO POWER')] = 960000

In [67]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'SUNNY DIESEL')] = 970000
df_copy['Max new price'].loc[(df_copy['Model'] == 'SUNNY DIESEL')] = 1060000

In [68]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'BEAT LT')] = 485000
df_copy['Max new price'].loc[(df_copy['Model'] == 'BEAT LT')] = 570000

In [69]:
round(df_copy.isnull().sum()/len(df_copy)*100 ,2)

Maker                 0.00
Model                 0.00
Min new price        17.79
Max new price        19.45
Age                   0.00
km_driven             0.00
seller_type           0.00
owner_type            0.00
fuel_type             0.00
transmission_type     0.00
mileage               0.00
engine                0.00
max_power             0.00
seats                 0.00
selling_price         0.00
dtype: float64

In [70]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'SANTA FE')] = 2787000
df_copy['Max new price'].loc[(df_copy['Model'] == 'SANTA FE')] = 3107000

In [71]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'JAZZ 1.5')] = 766000
df_copy['Max new price'].loc[(df_copy['Model'] == 'JAZZ 1.5')] = 989000

In [72]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'RITZ VXI')] = 489163
df_copy['Max new price'].loc[(df_copy['Model'] == 'RITZ VXI')] = 506000

In [73]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'ETIOS G')] = 650000
df_copy['Max new price'].loc[(df_copy['Model'] == 'ETIOS G')] = 680000

In [74]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'INDIGO LX')] = 608000
df_copy['Max new price'].loc[(df_copy['Model'] == 'INDIGO LX')] = 627000

In [75]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'A6 2.0')] = 5708000
df_copy['Max new price'].loc[(df_copy['Model'] == 'A6 2.0')] = 6181000

In [76]:
df_copy['Min new price'].loc[((df_copy['Model'] == 'GRANDE PUNTO') & (df_copy['fuel_type'] == 'Diesel'))] = 590000
df_copy['Max new price'].loc[((df_copy['Model'] == 'GRANDE PUNTO') & (df_copy['fuel_type'] == 'Diesel'))] = 804000

In [77]:
df_copy['Min new price'].loc[((df_copy['Model'] == 'GRANDE PUNTO') & (df_copy['fuel_type'] == 'Petrol'))] =  488000
df_copy['Max new price'].loc[((df_copy['Model'] == 'GRANDE PUNTO') & (df_copy['fuel_type'] == 'Petrol'))] = 771000

In [78]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'CLA 200')] = 3696000
df_copy['Max new price'].loc[(df_copy['Model'] == 'CLA 200')] = 5000000

In [79]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'KUV 100')] = 554000
df_copy['Max new price'].loc[(df_copy['Model'] == 'KUV 100')] = 716000

In [80]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'M-CLASS ML')] = 5674000
df_copy['Max new price'].loc[(df_copy['Model'] == 'M-CLASS ML')] = 6091000

In [81]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'RITZ LDI')] = 484711
df_copy['Max new price'].loc[(df_copy['Model'] == 'RITZ LDI')] = 783133

In [82]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'AMEO 1.2')] = 745100
df_copy['Max new price'].loc[(df_copy['Model'] == 'AMEO 1.2')] = 870992

In [83]:
df_copy['Min new price'].loc[((df_copy['Model'] == 'GRANDE PUNTO') & (df_copy['fuel_type'] == 'Diesel'))] = 3678000
df_copy['Max new price'].loc[((df_copy['Model'] == 'GRANDE PUNTO') & (df_copy['fuel_type'] == 'Diesel'))] = 4361000

In [84]:
df_copy['Min new price'].loc[((df_copy['Model'] == 'GRANDE PUNTO') & (df_copy['fuel_type'] == 'Petrol'))] = 3497000
df_copy['Max new price'].loc[((df_copy['Model'] == 'GRANDE PUNTO') & (df_copy['fuel_type'] == 'Petrol'))] = 3687000

In [85]:
df_copy['Min new price'].loc[((df_copy['Model'] == 'GLA CLASS') & (df_copy['fuel_type'] == 'Diesel'))] = 4370000
df_copy['Max new price'].loc[((df_copy['Model'] == 'GLA CLASS') & (df_copy['fuel_type'] == 'Diesel'))] = 4670000

In [86]:
df_copy['Min new price'].loc[((df_copy['Model'] == 'GLA CLASS') & (df_copy['fuel_type'] == 'Petrol'))] = 4210000
df_copy['Max new price'].loc[((df_copy['Model'] == 'GLA CLASS') & (df_copy['fuel_type'] == 'Petrol'))] = 4570000

In [87]:
df_copy['Min new price'].loc[((df_copy['Model'] == 'POLO 2015-2019') & (df_copy['fuel_type'] == 'Diesel'))] = 816000
df_copy['Max new price'].loc[((df_copy['Model'] == 'POLO 2015-2019') & (df_copy['fuel_type'] == 'Diesel'))] = 918000

In [88]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'WAGON R')] = 480000
df_copy['Max new price'].loc[(df_copy['Model'] == 'WAGON R')] = 633000

In [89]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'TERRANO XV')] = 1420000
df_copy['Max new price'].loc[(df_copy['Model'] == 'TERRANO XV')] = 1650000

In [90]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'BRIO 1.2')] = 523000
df_copy['Max new price'].loc[(df_copy['Model'] == 'BRIO 1.2')] = 681000

In [91]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'MICRA ACTIVE')] = 599000
df_copy['Max new price'].loc[(df_copy['Model'] == 'MICRA ACTIVE')] = 723000

In [92]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'ETIOS GD')] = 757900
df_copy['Max new price'].loc[(df_copy['Model'] == 'ETIOS GD')] = 885900

In [93]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'BRV I-VTEC')] = 1167000
df_copy['Max new price'].loc[(df_copy['Model'] == 'BRV I-VTEC')] = 1292000

In [94]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'SWIFT DDIS')] = 580000
df_copy['Max new price'].loc[(df_copy['Model'] == 'SWIFT DDIS')] = 620000

In [95]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'AMEO 1.5')] = 815000
df_copy['Max new price'].loc[(df_copy['Model'] == 'AMEO 1.5')] = 925000

In [96]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'MICRA DIESEL')] = 776000
df_copy['Max new price'].loc[(df_copy['Model'] == 'MICRA DIESEL')] = 855000

In [97]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'EON 1.0')] = 471000
df_copy['Max new price'].loc[(df_copy['Model'] == 'EON 1.0')] = 595000

In [98]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'SUNNY XL')] = 836000
df_copy['Max new price'].loc[(df_copy['Model'] == 'SUNNY XL')] = 912000

In [99]:
df_copy['Min new price'].loc[((df_copy['Model'] == 'TIAGO 1.05') & (df_copy['fuel_type'] == 'Diesel'))] = 574000
df_copy['Max new price'].loc[((df_copy['Model'] == 'TIAGO 1.05') & (df_copy['fuel_type'] == 'Diesel'))] = 589000

In [100]:
df_copy['Min new price'].loc[((df_copy['Model'] == 'TIGOR 1.05') & (df_copy['fuel_type'] == 'Petrol'))] = 563000
df_copy['Max new price'].loc[((df_copy['Model'] == 'TIGOR 1.05') & (df_copy['fuel_type'] == 'Petrol'))] = 600800

In [101]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'BALENO DELTA')] = 598000
df_copy['Max new price'].loc[(df_copy['Model'] == 'BALENO DELTA')] = 930000

In [102]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'CRUZE LTZ')] = 1465000
df_copy['Max new price'].loc[(df_copy['Model'] == 'CRUZE LTZ')] = 1642000

In [103]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'Q3 35')] = 3992000
df_copy['Max new price'].loc[(df_copy['Model'] == 'Q3 35')] = 4361000

In [104]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'NEW ACCORD')] = 4428000
df_copy['Max new price'].loc[(df_copy['Model'] == 'NEW ACCORD')] = 4685000

In [105]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'SAIL HATCHBACK')] = 491000
df_copy['Max new price'].loc[(df_copy['Model'] == 'SAIL HATCHBACK')] = 761000

In [106]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'XF 2.2')] = 5190000
df_copy['Max new price'].loc[(df_copy['Model'] == 'XF 2.2')] = 6167000

In [107]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'BEAT LS')] = 529000
df_copy['Max new price'].loc[(df_copy['Model'] == 'BEAT LS')] = 640000

In [108]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'BALENO ALPHA')] = 806000
df_copy['Max new price'].loc[(df_copy['Model'] == 'BALENO ALPHA')] = 927000

In [109]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'ZEST REVOTRON')] = 622012
df_copy['Max new price'].loc[(df_copy['Model'] == 'ZEST REVOTRON')] = 733627

In [110]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'MANZA AURA')] = 701000
df_copy['Max new price'].loc[(df_copy['Model'] == 'MANZA AURA')] = 827000

In [111]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'GLE CLASS')] = 6715000
df_copy['Max new price'].loc[(df_copy['Model'] == 'GLE CLASS')] = 9307000

In [112]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'MOBILIO S')] = 838000
df_copy['Max new price'].loc[(df_copy['Model'] == 'MOBILIO S')] = 965000

In [113]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'JETTA 2.0L')] = 1786000
df_copy['Max new price'].loc[(df_copy['Model'] == 'JETTA 2.0L')] = 1983000

In [114]:
df_copy['Min new price'].loc[(df_copy['Model'] == '800 AC')] = 299800
df_copy['Max new price'].loc[(df_copy['Model'] == '800 AC')] = 448200

In [115]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'OMNI E')] = 280841
df_copy['Max new price'].loc[(df_copy['Model'] == 'OMNI E')] = 336664

In [116]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'SX4 ZXI')] = 816000
df_copy['Max new price'].loc[(df_copy['Model'] == 'SX4 ZXI')] = 848000

In [117]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'INDIGO LS')] = 609000
df_copy['Max new price'].loc[(df_copy['Model'] == 'INDIGO LS')] = 733636

In [118]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'XYLO D4')] = 918000
df_copy['Max new price'].loc[(df_copy['Model'] == 'XYLO D4')] = 999000

In [119]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'FIESTA 1.4')] = 680000
df_copy['Max new price'].loc[(df_copy['Model'] == 'FIESTA 1.4')] = 787000

In [120]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'GL-CLASS 350')] = 7768000
df_copy['Max new price'].loc[(df_copy['Model'] == 'GL-CLASS 350')] = 10078000

In [121]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'A4 35')] = 4340000
df_copy['Max new price'].loc[(df_copy['Model'] == 'A4 35')] = 5010000

In [122]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'FIESTA CLASSIC')] = 550000
df_copy['Max new price'].loc[(df_copy['Model'] == 'FIESTA CLASSIC')] = 840000

In [123]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'EON SPORTZ')] = 448000
df_copy['Max new price'].loc[(df_copy['Model'] == 'EON SPORTZ')] = 471000

In [124]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'SUPERB ELEGANCE')] = 2307000
df_copy['Max new price'].loc[(df_copy['Model'] == 'SUPERB ELEGANCE')] = 3204000

In [125]:
round(df_copy.isnull().sum()/len(df_copy)*100 ,2)

Maker                 0.00
Model                 0.00
Min new price        10.59
Max new price        12.25
Age                   0.00
km_driven             0.00
seller_type           0.00
owner_type            0.00
fuel_type             0.00
transmission_type     0.00
mileage               0.00
engine                0.00
max_power             0.00
seats                 0.00
selling_price         0.00
dtype: float64

In [126]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'A6 35')] = 5703000
df_copy['Max new price'].loc[(df_copy['Model'] == 'A6 35')] = 6181000

In [127]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'MULSANNE 6.8')] = 29903000
df_copy['Max new price'].loc[(df_copy['Model'] == 'MULSANNE 6.8')] = 55681000

In [128]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'BRIO 1.2')] = 473000
df_copy['Max new price'].loc[(df_copy['Model'] == 'BRIO 1.2')] = 681000

In [129]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'ALTO LX')] = 372000
df_copy['Max new price'].loc[(df_copy['Model'] == 'ALTO LX')] = 535000

In [130]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'SCALA RXL')] = 779000
df_copy['Max new price'].loc[(df_copy['Model'] == 'SCALA RXL')] = 1030000

In [131]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'EON ERA')] = 332000
df_copy['Max new price'].loc[(df_copy['Model'] == 'EON ERA')] = 435000

In [132]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'AMEO 1.2')] = 567000
df_copy['Max new price'].loc[(df_copy['Model'] == 'AMEO 1.2')] = 1040000

In [133]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'SPARK 1.0')] = 426000
df_copy['Max new price'].loc[(df_copy['Model'] == 'SPARK 1.0')] = 501000

In [134]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'GLE CLASS')] = 7720000
df_copy['Max new price'].loc[(df_copy['Model'] == 'GLE CLASS')] = 9540000

In [135]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'RITZ VDI')] = 597000
df_copy['Max new price'].loc[(df_copy['Model'] == 'RITZ VDI')] = 674000

In [136]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'KIZASHI CVT')] = 1698000
df_copy['Max new price'].loc[(df_copy['Model'] == 'KIZASHI CVT')] =1923000

In [137]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'SUPRO LX')] = 474000
df_copy['Max new price'].loc[(df_copy['Model'] == 'SUPRO LX')] = 691000

In [138]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'CAYENNE DIESEL')] = 19200000
df_copy['Max new price'].loc[(df_copy['Model'] == 'CAYENNE DIESEL')] = 20900000

In [139]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'BALENO ALPHA')] = 597000
df_copy['Max new price'].loc[(df_copy['Model'] == 'BALENO ALPHA')] = 927000

In [140]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'FABIA 1.2')] = 447000
df_copy['Max new price'].loc[(df_copy['Model'] == 'FABIA 1.2')] = 753000

In [141]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'ERTIGA SHVS')] = 897000
df_copy['Max new price'].loc[(df_copy['Model'] == 'ERTIGA SHVS')] = 1175000

In [142]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'BOLT REVOTRON')] = 525000
df_copy['Max new price'].loc[(df_copy['Model'] == 'BOLT REVOTRON')] = 785000

In [143]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'CAPTIVA LT')] = 2558312
df_copy['Max new price'].loc[(df_copy['Model'] == 'CAPTIVA LT')] = 3062257

In [144]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'SX4 ZXI')] = 869000
df_copy['Max new price'].loc[(df_copy['Model'] == 'SX4 ZXI')] = 1140000

In [145]:
df_copy['Min new price'].loc[(df_copy['Model'] == '1 SERIES')] = 2280000
df_copy['Max new price'].loc[(df_copy['Model'] == '1 SERIES')] = 3268000

In [146]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'BRIO VX')] = 473000
df_copy['Max new price'].loc[(df_copy['Model'] == 'BRIO VX')] = 681000

In [147]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'PLATINUM ETIOS')] = 704000
df_copy['Max new price'].loc[(df_copy['Model'] == 'PLATINUM ETIOS')] = 924000

In [148]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'INDICA GLS')] = 439000
df_copy['Max new price'].loc[(df_copy['Model'] == 'INDICA GLS')] = 615000

In [149]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'A STAR')] = 450000
df_copy['Max new price'].loc[(df_copy['Model'] == 'A STAR')] = 539000

In [150]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'ZEST PREMIO')] = 582000
df_copy['Max new price'].loc[(df_copy['Model'] == 'ZEST PREMIO')] = 739000

In [151]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'SUPERB ELEGANCE')] = 3199000
df_copy['Max new price'].loc[(df_copy['Model'] == 'SUPERB ELEGANCE')] = 3543000

In [152]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'S60 2015-2020')] = 3299000
df_copy['Max new price'].loc[(df_copy['Model'] == 'S60 2015-2020')] = 5640000

In [153]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'SUNNY XL')] = 707000
df_copy['Max new price'].loc[(df_copy['Model'] == 'SUNNY XL')] = 994000

In [154]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'RAPID 1.5')] = 780000
df_copy['Max new price'].loc[(df_copy['Model'] == 'RAPID 1.5')] = 1329000

In [155]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'ZEST REVOTRON')] = 582000
df_copy['Max new price'].loc[(df_copy['Model'] == 'ZEST REVOTRON')] = 732000

In [156]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'XENON XT')] = 937000
df_copy['Max new price'].loc[(df_copy['Model'] == 'XENON XT')] = 1034000

In [157]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'LINEA DYNAMIC')] = 837000
df_copy['Max new price'].loc[(df_copy['Model'] == 'LINEA DYNAMIC')] = 1234000

In [158]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'RITZ LDI')] = 597000
df_copy['Max new price'].loc[(df_copy['Model'] == 'RITZ LDI')] = 674000

In [159]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'PULSE PETROL')] = 605000
df_copy['Max new price'].loc[(df_copy['Model'] == 'PULSE PETROL')] = 824000

In [160]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'NANO LX')] = 190000
df_copy['Max new price'].loc[(df_copy['Model'] == 'NANO LX')] = 289000

In [161]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'INDICA DLE')] = 439000
df_copy['Max new price'].loc[(df_copy['Model'] == 'INDICA DLE')] = 615000

In [162]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'GLA CLASS')] = 4310000
df_copy['Max new price'].loc[(df_copy['Model'] == 'GLA CLASS')] = 4615000

In [163]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'A5 SPORTBACK')] = 5510000
df_copy['Max new price'].loc[(df_copy['Model'] == 'A5 SPORTBACK')] = 7215000

In [164]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'INDICA ELS')] = 439000
df_copy['Max new price'].loc[(df_copy['Model'] == 'INDICA ELS')] = 615000

In [165]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'INDIGO EVX')] = 589000
df_copy['Max new price'].loc[(df_copy['Model'] == 'INDIGO EVX')] = 645000

In [166]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'ZEN LXI')] = 392000
df_copy['Max new price'].loc[(df_copy['Model'] == 'ZEN LXI')] = 414000

In [167]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'A4 35')] = 4312000
df_copy['Max new price'].loc[(df_copy['Model'] == 'A4 35')] = 4764000

In [168]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'MICRA ACTIVE')] = 525000
df_copy['Max new price'].loc[(df_copy['Model'] == 'MICRA ACTIVE')] = 600000

In [169]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'EON LPG')] = 312000
df_copy['Max new price'].loc[(df_copy['Model'] == 'EON LPG')] = 425000

In [170]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'CIAZ DELTA')] = 812000
df_copy['Max new price'].loc[(df_copy['Model'] == 'CIAZ DELTA')] = 1149000

In [171]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'AVEO U-VA')] = 559000
df_copy['Max new price'].loc[(df_copy['Model'] == 'AVEO U-VA')] = 727000

In [172]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'CROSSPOLO 1.2')] = 769000
df_copy['Max new price'].loc[(df_copy['Model'] == 'CROSSPOLO 1.2')] = 887000

In [173]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'IKON 1.3')] = 469000
df_copy['Max new price'].loc[(df_copy['Model'] == 'IKON 1.3')] = 793000

In [174]:
df_copy['Min new price'].loc[(df_copy['Model'] == 'ACCENT GLX')] = 524000
df_copy['Max new price'].loc[(df_copy['Model'] == 'ACCENT GLX')] = 604000

In [175]:
round(df_copy.isnull().sum()/len(df_copy)*100 ,2)

Maker                 0.00
Model                 0.00
Min new price         9.44
Max new price        11.09
Age                   0.00
km_driven             0.00
seller_type           0.00
owner_type            0.00
fuel_type             0.00
transmission_type     0.00
mileage               0.00
engine                0.00
max_power             0.00
seats                 0.00
selling_price         0.00
dtype: float64

In [176]:
df_copy.head()

,Maker,Model,Min new price,Max new price,Age,km_driven,seller_type,owner_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,MARUTI,ALTO STD,299800.0,299800.0,9.0,120000.0,Individual,First Owner,Petrol,Manual,19.70,796.0,46.30,5.0,120000.0
1,HYUNDAI,GRAND I10,711000.0,748000.0,5.0,20000.0,Individual,First Owner,Petrol,Manual,18.90,1197.0,82.00,5.0,550000.0
2,HYUNDAI,I20 ASTA,791000.0,1324000.0,11.0,60000.0,Individual,First Owner,Petrol,Manual,17.00,1197.0,80.00,5.0,215000.0
3,MARUTI,ALTO K10,356000.0,451000.0,9.0,37000.0,Individual,First Owner,Petrol,Manual,20.92,998.0,67.10,5.0,226000.0
4,FORD,ECOSPORT 2015-2021,1014000.0,1379000.0,6.0,30000.0,Dealer,First Owner,Diesel,Manual,22.77,1498.0,98.59,5.0,570000.0

In [177]:
df_copy['mileage'] = np.where(df_copy['mileage'] == 0 ,df_copy.groupby(['Model'])['mileage'].transform('median'),df_copy['mileage'])

In [178]:
df_copy['mileage'] = np.where(df_copy['mileage'] == 0 ,df_copy.groupby(['Maker'])['mileage'].transform('median'),df_copy['mileage'])

In [179]:
df_copy.dropna(subset = ['Min new price','Max new price'],inplace=True)

In [180]:
df_copy[df_copy['Min new price'] > df_copy['Max new price']].shape

(0, 15)

In [181]:
df_copy['Max new price'] = np.where(df_copy['Min new price'] > df_copy['Max new price'], df_copy['Min new price'],df_copy['Max new price'])

In [182]:
df_copy['Min new price'] = np.where((df_copy['Max new price'] > 10000000) & (df_copy['Min new price'] < 1000000), df_copy['Max new price'],df_copy['Min new price'])

In [183]:
df_copy.shape

(17451, 15)

In [184]:
df_copy.dropna(subset = ['Min new price','Max new price'],inplace=True)

In [185]:
df_copy.shape

(17451, 15)

In [186]:
round(df_copy.isnull().sum()/len(df_copy)*100 ,2)

Maker                0.0
Model                0.0
Min new price        0.0
Max new price        0.0
Age                  0.0
km_driven            0.0
seller_type          0.0
owner_type           0.0
fuel_type            0.0
transmission_type    0.0
mileage              0.0
engine               0.0
max_power            0.0
seats                0.0
selling_price        0.0
dtype: float64

In [187]:
df_copy.describe().apply(lambda s: s.apply(lambda x: format(x, 'f')))

,Min new price,Max new price,Age,km_driven,mileage,engine,max_power,seats,selling_price
count,17451.000000,17451.000000,17451.000000,17451.000000,17451.000000,17451.000000,17451.000000,17451.000000,17451.000000
mean,1360446.042576,1719557.629591,6.251046,56632.728898,19.653189,1449.986820,97.368242,5.298779,711406.290585
std,2345930.933231,2620169.028603,3.061258,50483.104073,4.000263,496.209358,39.961621,0.780572,826357.874816
min,190000.000000,289000.000000,0.000000,100.000000,4.000000,0.000000,34.200000,2.000000,34000.000000
25%,598000.000000,742000.000000,4.000000,30000.000000,17.000000,1197.000000,73.900000,5.000000,350000.000000
50%,803000.000000,1040000.000000,6.000000,50000.000000,19.500000,1248.000000,86.700000,5.000000,525000.000000
75%,1263000.000000,1680000.000000,8.000000,71896.500000,22.540000,1499.000000,108.600000,5.000000,775000.000000
max,91100000.000000,91100000.000000,29.000000,3800000.000000,33.540000,6752.000000,626.000000,9.000000,39500000.000000

In [188]:
df_copy.to_csv('filed_NAN_values.csv',index = None,header=True)